*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* shared style */
    .font-open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
   }
.logo h2{
  font-size:45px ;
  font-weight: 900;
  }
  .color-blue{
    color:hsl(24, 100%, 50%)
    
  }
  .btn{
   background-color: rgb(240, 117, 47);
   border: none;
   padding: 18px 35px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;
   color: aliceblue;
   cursor:pointer
  }
.section-heading {
  max-width:400px;
  text-align: center;
  margin:0 auto;
}
.section-heading h2 {
  font-size:35px ;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 38px;
}
.text-center{
  text-align: center;
}
  /* main style */
  
  

 header{
  background-color: rgb(231, 223, 213);
  
  background: url("../images/developer.png"),url(../images/header_bg.png),
  rgb(231, 223, 213);
   background-repeat: no-repeat;
  padding-top : 50px;
  background-position : top left,bottom right  ;

 }

nav {
width: 71%;
max-width: 1140px;
margin: 0px auto;
margin-left: auto;
border: 2px solid rgb(226, 162, 162);
display: flex;
justify-content:space-between ;
align-items: center;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap:51px;
  align-items: center;
}
nav .menu {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
.person_name{
  font-size: 36px;
}

#banner {
  border:1px solid red;
  margin:47px 38px 0 230px;
  display: flex;
  justify-content:space-between ;
  align-items: center;
  
}
#banner .banner-content {
    max-width: 585;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #b2b4b3;
  margin-bottom: 5px;
}
 #banner .banner-content h1 {
  font-size:  36px;
  font-weight: bold;
  color : black;
  margin-bottom: 20px;
 }
  #banner .banner-content p{
    font-size: 18px;
    color: #b2b4b3;
    line-height: 30px;
    margin-bottom:30px ;
    display: flex;
  }
  #banner .banner-image img {
    max-width: 585px;
  }
  #about{
    padding-top: 130px;

  }
  #about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color:#FFF8F3 ;
    padding: 136px;
  }
   .about-info{
    display: flex;
    justify-content: space-around;
  }

.about-info .about-card p{
font-size: 20px;
  margin-bottom: 30px;
  line-height: 38px;
  color: #757575;
}
.about-info .about-card h4{
  font-size: 20px;
}
#skills {
  padding-top: 130px;
}
 .skills-container {
  width: 71%;
  max-width:1130px ;
  margin: 0 auto;

}
 .skills-container .skill-box{
    display: flex;
    gap:24px
}
.skill-box .skill-card{
  padding: 30px;
  border:1px solid rgb(236, 178, 178);
  box-shadow:0 6px 50px 0 #b2b4b3;
  max-width: 267px;
}
.skill-card img {
  max-width: 44px;
  margin-bottom: 30px;
}
.skill-card h3 {
  font-size: 20px;
  color:#181818;
 margin-bottom: 20px;
}

.skill-card p{
  font-size: 16px;
    color: #b2b4b3;
    line-height: 28px;
    
    
}
#resume .resume-container {
  width: 71%;
  max-width: 1140px;
  margin:113px auto 0;
  display: flex;
  gap: 24px;
}
.resume-container hr{
  margin: 30px 0;
}

.resume-container .section-title{
  color:#474747;
  font-size: 30px;
  margin-bottom: 30px;
}
.resume-card{
  max-width: 511px;
  margin-right: 47px;
}

.resume-card .card-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}

.resume-card .card-info{
  font-size: 25px;
  font-weight: 600px;
  margin-bottom: 20px;
  color: #757575;
}

.resume-card .card-text{
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
  color:#757575
}